html, body {
    min-width: 1200px;
    height: 100%;
    margin: 0;
    font-family: "Nanum Gothic", dotum;
    font-size: 14px;
    color: #555;
}

* {
    max-width: 100%;
}
a {
    color: inherit;
    text-decoration: none;
}

.more {
    padding: 15px 30px;
    color: white;
    background-color: #205DD0;
    border: 1px solid #707070;
    border-radius: 30px;
    cursor: pointer;
}
.header-text {
    margin: 10px 0 20px 0;
    font-size: 2.5em;
    font-weight: bolder;
    color: #205DD0;
}

.button {
    display: inline-block;
    padding: .8em 1.6em;
    color: white;
}
.button.round {
    border-radius: 1em;
}
.button.sharp {
    padding: .5em 1.6em;
}
.button.green {
    background-color: #1e9e6b;
}
.button.green:hover {
    background-color: #069059;
}
.button.blue {
    background-color: #2185f5;
}
.button.blue:hover {
    background-color: #1b65b9;
}

nav {
    position: relative;
    display: grid;
    grid-template-columns: 245px auto;
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
}
nav .nav-left .logo-wrapper img {
    height: 62px;
    margin-top: 5px;
}
nav .nav-right {
    justify-self: end;
}
nav .nav-right .menu-button {
    display: none;
}
nav .nav-right .menu-wrapper {
    margin: 30px auto 0 auto;
    padding: 0;
    float: right;
    list-style: none;
}
nav .nav-right .menu-wrapper > li {
    display: inline-block;
    margin: 0 50px;
    font-size: 1.2em;
    cursor: pointer;
}
nav .nav-right .menu-wrapper > li.active {
    color: #5c76a7 !important;
}
nav.subpage {
    box-shadow: 0px 0px 20px #ccc;
}
nav.subpage .nav-right .menu-wrapper > li {
    color: #333;
}

header {
    position: relative;
    display: grid;
    width: 100%;
    height: 400px;
    grid-template-columns: 1fr 1fr;
    background-image: url(image/mathew-schwartz-01hH6y7oZFk-unsplash.jpg);
    background-size: cover;
}
header .header-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}
header .header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    z-index: 1;
}
header .header-title p,
header .header-title h1 {
    margin: 10px 0;
    padding: 0 0 0 100px;
    font-size: 1.5em;
    color: white;
}
header .header-title h1 {
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}
header .header-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    max-width: 600px;
    padding: 0 200px 0 0;
    color: white;
    z-index: 1;
}
header .header-description p {
    margin: 5px 0;
}
header .header-description .button-wrapper {
    margin-top: 20px;
    text-align: center;
}
header .header-description .button-wrapper .button {
    font-size: 1.5em;
}
header.subpage {
    height: 150px;
    background-position-y: -400px;
}
header.subpage .header-title {
    grid-column: 2;
    margin-bottom: 0;
}
header.subpage .header-title p {
    margin: 0;
    font-size: 1.1em;
}

main {
    min-height: calc(100% - 80px - 150px - 330px);
}
main.layout-2 {
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-columns: 200px auto;
    gap: 50px;
}

#sidebar .sidebar-header {
    padding: 30px 0;
    font-size: 1.7em;
    text-align: center;
    color: white;
    background-color: #34435f;
}
#sidebar .menu {
    height: calc(100% - 87px);
    margin: 0;
    padding: 0;
    list-style: none;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
#sidebar .menu > li a {
    display: block;
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid #ddd;
}
#sidebar .menu > li.active a {
    font-weight: bolder;
}

#content {
    width: 100%;
    padding: 0 0 50px 0;
}
#content h1 {
    margin: 50px 0 30px 0;
}
#content h2 {
    margin: 40px 0 30px 0;
}
#content h3 {
    margin: 20px 0 10px 0;
}
#content .summary {
    margin: 20px 0;
    padding: 20px;
    font-size: 1.2em;
    text-align: center;
    background-color: #efefef;
}
#content .summary .red {
    font-weight: bold;
    color: red;
}

#content .introduce {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    max-width: 1200px;
    margin: 0 auto;
}
#content .introduce .title-wrapper {
    display: grid;
    grid-template-columns: auto auto;
}
#content .introduce .icon-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}
#content .introduce .icon-list > li {
    margin-bottom: 0;
    padding-top: 110px;
    padding-bottom: 18px;
    text-align: center;
    background-position-x: 50%;
    background-size: 100px;
    background-repeat: no-repeat;
}
#content .introduce .performance-list > li {
    height: 160px;
    padding: 0 !important;
    text-align: center;
}
#content .introduce .performance-list > li .icon {
    width: 100px;
    height: calc(50px + .5em);
    margin: 0 auto;
    padding-top: calc(50px - .5em);
    font-size: 2em;
    color: #834979;
    background-color: #EEE;
    border-radius: 50px;
}
#content .introduce .performance-list > li p {
    margin: 10px 0 20px 0;
}
#content .introduce .more-wrapper {
    text-align: center;
}
#content .introduce .more-wrapper .button {
    font-size: 1.2em;
}
#content .introduce .left .logo {
    width: 43em;
}
#content .introduce .left .sub-title {
    color: #205DD0;
    font-size: 2em;
}
#content .introduce .left .description {
    font-size: 2em;
}
#content .introduce .right {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    overflow-x: auto;
}
#content .introduce .right img {
    height: 400px;
}
#content .about {
    padding: 0 200px;
}
#content .about p {
    margin: 20px 0;
}

#content .history {
    display: grid;
    margin-top: 30px;
    padding: 0 200px;
    grid-template-columns: 200px auto;
}
#content .history > div:first-child,
#content .history > ul:nth-child(2) {
    border-top: 1px solid #ddd;
}
#content .history > div,
#content .history > ul {
    border-bottom: 1px solid #ddd;
}
#content .history .year {
    height: 100px;
    line-height: 100px;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}
#content .history .content {
    display: grid;
    height: 100px;
    margin: 0;
    padding-left: 30px;
    align-content: center;
}

#content .map {
    width: 640px;
    margin: 0 auto;
}
#content .contact {
    width: 640px;
    margin: 30px auto 0 auto;
}

#content .business .business-image-wrapper {
    text-align: center;
}
#content .business .performance-list {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
}
#content .business .performance-list > li {
    padding: 0 !important;
    font-weight: bold;
    text-align: center;
}
#content .business .performance-list > li .icon {
    font-size: 3em;
    color: #834979;
}
#content .business .business-contact {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: unset;
}
#content .business-detail .features {
    padding-left: 1em;
    list-style-type: '>';
}
#content .business-detail .features > li {
    padding-left: 1em;
}
#content .business-detail .features > li p {
    margin: 10px 0;
}
#content .business-detail .business-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}
#content .business-detail .process {
    margin: 0;
    padding: 0;
    list-style: none;
}
#content .business-detail .process > li {
    margin: 15px 10px;
    padding: 10px 10px 10px 180px;
    background-repeat: no-repeat;
    background-size: 160px;
    background-position: 10px center;
    box-shadow: 0 0 7px gainsboro;
}
#content .business-detail .process .design {
    background-image: url(image/design.png);
}
#content .business-detail .process .install {
    background-image: url(image/install.png);
}
#content .business-detail .process .maint {
    background-image: url(image/maint.png);
}

#partners {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0 50px 0;
    text-align: center;
    border-top: 1px solid #ddd;
}

footer {
    padding: 50px 0;
    color: white;
    background-color: #0D2450;
}
footer .footer-wrapper {
    display: grid;
    grid-template-columns: 300px 100px auto;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
}
footer .logo p {
    margin: 0;
    font-size: 2.5em;
    font-weight: bolder;
}
footer .title {
    margin: 0 0 20px 0;
    font-size: 1.5em;
    font-weight: bold;
}
footer p {
    margin: 10px 0;
}
footer .copyright {
    margin-top: 50px;
    text-align: center;
    color: rgb(147, 160, 185);
}


/* Tablet */
/*@media screen and (min-width: 720px) and (max-width: 1200px) {
    nav .nav-left .logo-wrapper {
        padding: 0;
        text-align: center;
    }
    nav .nav-right {
        position: relative;
        float: right;
        width: 120px;
        overflow: visible;
    }
    nav .nav-right .menu-button {
        display: block;
        float: right;
        margin: 15px 15px 0 0;
        padding: 25px 25px 20px 25px;
        cursor: pointer;
    }
    nav .nav-right .menu-button img {
        width: 30px;
    }
    nav .nav-right .menu-wrapper {
        display: none !important;
        position: absolute;
        top: 100px;
        right: 0;
        width: 120px;
        margin: 0;
        padding: 0;
        text-align: center;
        background-color: rgba(200, 200, 200, .7);
        border-radius: 20px;
    }
    nav .nav-right .menu-wrapper > li {
        margin: 30px 0;
        color: black;
    }
    nav .nav-right:hover .menu-wrapper {
        display: block !important;
    }
    nav .nav-right:hover .menu-wrapper > li {
        display: block;
    }
    
    header .arrow-wrapper {
        left: auto;
        right: 50px;
        bottom: 50px;
    }

    #content .introduce {
        grid-template-columns: auto;
    }
    #content .introduce .right {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        margin-top: 30px;
    }
    #content .introduce .right img {
        height: 300px;
    }
    #content .slogan {
        height: 50vw;
    }
    #content .slogan .slogan-result img {
        height: 5em;
    }
    #content .slogan .slogan-result p {
        margin: 10px 0;
        font-size: 3em;
    }
    #content .about {
        display: block;
    }
    #content .about .location .location-item {
        font-size: 1.7em;
    }
    #content .news {
        display: block;
    }
    #content .news .news-wrapper {
        display: block;
        padding: 0;
        box-shadow: none;
        overflow: visible;
    }
    #content .news .news-wrapper .news-item {
        width: auto;
        margin: 20px auto;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px #ccc;
    }
    #content .news .news-wrapper .news-item .news-image {
        text-align: center;
    }
    #content .news .news-wrapper .news-item .news-image img {
        width: auto;
        max-width: 200px;
    }
    #content .news .news-wrapper .news-item .news-title {
        margin-top: 20px;
        font-size: 2em;
    }
    #content .news .headline-wrapper {
        font-size: 1.2em;
    }
    #content .product {
        display: block;
    }
    #content .product .product-information p {
        font-size: 1.7em;
    }
    #content .recruit .recruit-about .recruit-item {
        padding-left: 50px;
        background-size: 1em;
        background-position-x: 20px;
    }

    footer .footer-wrapper {
        grid-template-columns: auto auto;
    }
    footer .footer-wrapper .logo {
        grid-column: 1 / 3;
        margin-bottom: 50px;
    }
    footer .footer-wrapper .links {
        grid-column: 1 / 2;
    }
    footer .footer-wrapper .contact-us {
        grid-column: 2 / 3;
    }
}*/
/* Mobile */
/*@media screen and (max-width: 720px) {
    body {
        font-size: 7px;
    }

    .more {
        padding: 10px 20px;
        border-radius: 20px;
    }
    
    nav {
        height: 70px;
    }
    nav .nav-background-wrapper {
        height: 70px;
    }
    nav .nav-left .logo-wrapper {
        margin-top: 25px;
        padding: 0;
        text-align: center;
    }
    nav .nav-left .logo-wrapper img {
        height: 20px;
    }
    nav .nav-right {
        position: relative;
        float: right;
        width: 120px;
        overflow: visible;
    }
    nav .nav-right .menu-button {
        display: block;
        float: right;
        padding: 25px 25px 20px 25px;
        cursor: pointer;
    }
    nav .nav-right .menu-button img {
        width: 20px;
    }
    nav .nav-right .menu-wrapper {
        display: none !important;
        position: absolute;
        top: 50px;
        right: 0;
        width: 100px;
        margin: 0;
        padding: 0;
        text-align: center;
        background-color: rgba(200, 200, 200, .7);
        border-radius: 20px;
    }
    nav .nav-right .menu-wrapper > li {
        margin: 30px 0;
        color: black;
    }
    nav .nav-right:hover .menu-wrapper {
        display: block !important;
    }
    nav .nav-right:hover .menu-wrapper > li {
        display: block;
    }

    header .header-background {
        margin-top: -70px;
    }
    header .header-title {
        top: calc(50% - 6em);
        bottom: auto;
    }
    header .header-title p {
        padding: 0 50px;
        font-size: 3em;
    }
    header .arrow-wrapper {
        left: auto;
        right: 10px;
        bottom: 20px;
    }
    header .arrow-wrapper img {
        width: 10px;
    }

    #content > section {
        padding: 20px 30px !important;
    }
    #content .introduce {
        grid-template-columns: auto;
    }
    #content .introduce .left .logo {
        width: 30em;
    }
    #content .introduce .right {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        margin-top: 30px;
    }
    #content .introduce .right img {
        height: 200px;
    }
    #content .introduce .right.prefer img {
        height: 300px;
    }
    #content .slogan .slogan-result img {
        height: 5em;
    }
    #content .slogan .slogan-result p {
        margin: 10px 0;
        font-size: 3em;
    }
    #content .about {
        display: block;
    }
    #content .about .about-image img {
        height: 200px;
    }
    #content .product {
        display: block;
    }
    #content .news {
        display: block;
    }
    #content .news .news-wrapper {
        display: block;
        padding: 0;
        box-shadow: none;
        overflow: visible;
    }
    #content .news .news-wrapper .news-item {
        width: auto;
        margin: 20px auto;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px #ccc;
    }
    #content .news .news-wrapper .news-item .news-image {
        text-align: center;
    }
    #content .news .news-wrapper .news-item .news-image img {
        width: auto;
        max-width: 200px;
    }
    #content .news .news-wrapper .news-item .news-title {
        margin-top: 20px;
        font-size: 2em;
    }
    #content .news .headline-wrapper {
        font-size: 1.2em;
    }
    #content .recruit .recruit-image {
        margin: 30px auto;
    }
    #content .recruit .recruit-image.large {
        display: none;
    }
    #content .recruit .recruit-image.small {
        display: inline-block;
        max-width: 400px;
    }
    #content .recruit .recruit-about {
        display: block;
    }
    #content .recruit .recruit-about .recruit-item {
        padding-left: 50px;
        background-size: 1em;
        background-position-x: 20px;
    }

    footer {
        font-size: 1.2em;
    }
    footer .title {
        margin-top: 50px;
    }
    footer .footer-wrapper {
        display: block;
        padding: 50px 0;
        text-align: center;
    }
}*/
